* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    color: #929292;
    padding: 2px;
    margin: 0px;
}

window#waybar {
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #202020;
}


#custom-hypr-layout.RU {
    background: #bf616a;
    color: #2e3440;
}

menu {
    border-radius: 15px;
    background: #161320;
    color: #B5E8E0;
}
menuitem {
    border-radius: 15px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.active {
    border: solid 1px #202020;
    background-color: #403F6F;
    border-radius: 20px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 20px;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-media,
#power-profiles-daemon,
#custom-language,
#custom-nwg-drawer {
    border: solid 1px #202020;
    background-color: #403F6F;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 7px;
    color: #929292;
}

#custom-nwg-drawer {
    background-color: #403F6F;
    color: #929292;
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

#custom-power {
    border: solid 1px #202020;
    background-color: #403F6F;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 3px;
}

#custom-network {
    border: solid 1px #202020;
    background-color: #403F6F;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


#battery {
    border: solid 1px #202020;
    background-color: #403F6F;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    color: #929292;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left{
    margin: 0;
    background-color: #2c344e;
    border-radius: 7px;

}

.modules-right {
    background-color: #2c344e;
    padding: 4px;
    border-radius: 7px;

}

.modules-center {

    border: solid 1px #202020;
    border-radius: 5px;
    background-color: #2c344e;
}


#waybar.empty .modules-center{
opacity:0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    background-color: #202020;
}

#clock {
    background-color: #403F6F;
    color: #929292;
}

#custom-language {
    background-color: #403F6F;
    color: #929292;
}

#battery {
    background-color: #403F6F;
    color: #929292;
}


#battery.charging, #battery.plugged {
    background-color: #403F6F;
    color: #696969;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#temperature {
    background-color: #403F6F;
    color: #929292;
}

#temperature.critical {
    background-color: #eb4d4b;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#power-profiles-daemon {
    padding-right: 13px;
    background-color: #929292;
    color: #403F6F;

}
#waybar.empty #window{
    background-color: transparent;
}

#power-profiles-daemon.performance {
    background-color: #403F6F;
    color: #929292;
}

#power-profiles-daemon.performance:hover {
    background-color: #929292;
    color: #403F6F;
}

#power-profiles-daemon.balanced {
    background-color: #403F6F;
    color: #929292;
}
#power-profiles-daemon.balanced:hover {
    background-color: #929292;
    color: #403F6F;
}

#power-profiles-daemon.power-saver {
    background-color: #403F6F;
    color: #929292;
}

#power-profiles-daemon.power-saver:hover {
    background-color: #929292;
    color: #403F6F;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: #403F6F;
    color: #929292;
}

#network:hover {
    background-color: #929292;
    color: #403F6F;
}

#cpu {
    background-color: #403F6F;
    color: #929292;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #403F6F;
    color: #929292;
}

#pulseaudio:hover {
    background-color: #929292;
    color: #403F6F;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}





/* Not used */
#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}




#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
