configuration {
    font: "JetBrains Mono 12";
    y-offset: -50%;
    x-offset: -50%;
    width: 30%;
    height: 40%;
    opacity: 0.9;
    show-icons: false;
    fixed-num-lines: true;
    lines: 10;
    background: #212a44ff;
    bg: #212a44ff;
    fg: #212a44ff;
    selected-bg: #403F6F;
    selected-fg: #403F6F;
    separator-style: none;
}
